<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>簡單記帳</title>
    </head>
    
    <body>
        
        <form action="." method='POST' enctype=multipart/form-data name='add_spend'>
            <fieldset>
                <legend>新增花費</legend>
                <input type='hidden' name='action' value='add_spend'>
                {{ sform.hidden_tag() }}
               
                {{ sform.month(value= time_month,size=2 ) }} 月
                {{ sform.day(value= time_day,size=2 ) }} 日
                {{ sform.item.label }}
                {{ sform.item }}
                {{ sform.spend.label }}
                {{ sform.spend }}

                
                <input class='button radius' type='submit' value='確定新增'>
            </fieldset>
            </form>
            
            <ul>
            {% for error in sform.spend.errors %}
                {% if error %}
                    <li>
                        <p>{{ error }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </form>
        </ul>
        {{ time_n }}
        
<div class='spendList'>
    <div class='row'>
        <div class="small-12 large-12 columns">
        
            <table>
                <thead>
                    <tr>
<!--
                      <th >支出次數</th>
-->
                      <th >月份</th>
                      <th >日期</th>
                      <th >支出項目</th>
                      <th >花費</th>
                    </tr>
                </thead>
                <tbody>
    {% for s in show_spend %}
                    <tr class="spend_list">
                        <td>{{ s.billorganizer.0 }}</td>
                        <td>{{ s.billorganizer.1 }}</td>
                        <td>{{ s.billorganizer.2 }}</td>
                        <td>{{ s.billorganizer.3 }}</td>
                        
                        <td>
                            <form action='.' name ="del" method='POST' enctype=multipart/form-data>
                                <input type='hidden' name='objid' value='{{ s.id }}'>
                                <input type='hidden' name='action' value='del_spend'>
                                <input class='button left' type='submit' value='確認刪除'>
                            </form>
                        </td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>
        <P>總花費： {{ all_spend }} 元</P>
   

        
        </div>
    </div>
    
    </body>
</html>
    
